 .u-section-1 {
  background-image: url("img/pexels-photo-2556956.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 633px;
}

.u-section-1 .u-table-1 {
  width: 853px;
  margin: 182px auto 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  background-image: none;
}

.u-section-1 .u-table-cell-24 {
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  background-image: none;
}

.u-block-2446-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: url("img/pexels-photo-2556956.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 633px;
}

.u-section-2 .u-table-1 {
  width: 567px;
  margin: 60px auto;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  background-image: none;
}

.u-section-2 .u-table-cell-6 {
  background-image: none;
}

.u-section-2 .u-table-cell-9 {
  background-image: none;
}

.u-section-2 .u-table-cell-10 {
  background-image: none;
}

.u-block-d00b-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: url("img/pexels-photo-2556956.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 633px;
}

.u-section-3 .u-table-1 {
  width: 853px;
  margin: 60px auto;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-13 {
  background-image: none;
}

.u-section-3 .u-table-cell-14 {
  background-image: none;
}

.u-section-3 .u-table-cell-15 {
  background-image: none;
}

.u-section-3 .u-table-cell-16 {
  background-image: none;
}

.u-section-3 .u-table-cell-17 {
  background-image: none;
}

.u-section-3 .u-table-cell-18 {
  background-image: none;
}

.u-section-3 .u-table-cell-25 {
  background-image: none;
}

.u-section-3 .u-table-cell-26 {
  background-image: none;
}

.u-section-3 .u-table-cell-27 {
  background-image: none;
}

.u-section-3 .u-table-cell-28 {
  background-image: none;
}

.u-section-3 .u-table-cell-29 {
  background-image: none;
}

.u-section-3 .u-table-cell-30 {
  background-image: none;
}

.u-block-22d9-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-3 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-3 .u-table-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: url("img/pexels-photo-2556956.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 633px;
}

.u-section-4 .u-table-1 {
  width: 853px;
  margin: 60px auto;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-13 {
  background-image: none;
}

.u-section-4 .u-table-cell-14 {
  background-image: none;
}

.u-section-4 .u-table-cell-15 {
  background-image: none;
}

.u-section-4 .u-table-cell-16 {
  background-image: none;
}

.u-section-4 .u-table-cell-17 {
  background-image: none;
}

.u-section-4 .u-table-cell-18 {
  background-image: none;
}

.u-section-4 .u-table-cell-25 {
  background-image: none;
}

.u-section-4 .u-table-cell-26 {
  background-image: none;
}

.u-section-4 .u-table-cell-27 {
  background-image: none;
}

.u-section-4 .u-table-cell-28 {
  background-image: none;
}

.u-section-4 .u-table-cell-29 {
  background-image: none;
}

.u-section-4 .u-table-cell-30 {
  background-image: none;
}

.u-block-a121-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-4 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-4 .u-table-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: url("img/pexels-photo-2556956.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 633px;
}

.u-section-5 .u-table-1 {
  width: 853px;
  margin: 60px auto;
}

.u-section-5 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-5 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-9 {
  background-image: none;
}

.u-section-5 .u-table-cell-10 {
  background-image: none;
}

.u-section-5 .u-table-cell-11 {
  background-image: none;
}

.u-section-5 .u-table-cell-12 {
  background-image: none;
}

.u-section-5 .u-table-cell-17 {
  background-image: none;
}

.u-section-5 .u-table-cell-18 {
  background-image: none;
}

.u-section-5 .u-table-cell-19 {
  background-image: none;
}

.u-section-5 .u-table-cell-20 {
  background-image: none;
}

.u-block-3f00-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-5 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-5 .u-table-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: url("img/pexels-photo-2556956.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 633px;
}

.u-section-6 .u-table-1 {
  width: 853px;
  margin: 60px auto;
}

.u-section-6 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-6 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-6 .u-table-cell-9 {
  background-image: none;
}

.u-section-6 .u-table-cell-10 {
  background-image: none;
}

.u-section-6 .u-table-cell-11 {
  background-image: none;
}

.u-section-6 .u-table-cell-12 {
  background-image: none;
}

.u-section-6 .u-table-cell-17 {
  background-image: none;
}

.u-section-6 .u-table-cell-18 {
  background-image: none;
}

.u-section-6 .u-table-cell-19 {
  background-image: none;
}

.u-section-6 .u-table-cell-20 {
  background-image: none;
}

.u-block-508c-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-6 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-6 .u-table-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: url("img/pexels-photo-2556956.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 633px;
}

.u-section-7 .u-table-1 {
  width: 853px;
  margin: 60px auto;
}

.u-section-7 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-7 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-7 .u-table-cell-5 {
  background-image: none;
}

.u-section-7 .u-table-cell-6 {
  background-image: none;
}

.u-section-7 .u-table-cell-9 {
  background-image: none;
}

.u-section-7 .u-table-cell-10 {
  background-image: none;
}

.u-block-d16d-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-7 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-7 .u-table-1 {
    width: 340px;
  }
}