 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 358px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 318px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 54px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px 0;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 264px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 134px;
  width: 1023px;
  margin: 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3063px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 2360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-1 .u-form-1 {
    width: 457px;
  }

  .u-section-1 .u-form-group-1 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2368px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1808px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4083px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 3013px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2680px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1897px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}